<div class="min-h-screen bg-gray-100 flex items-center justify-center">
  <div class="w-11/12 lg:w-3/4 bg-white p-6 rounded-lg shadow-md">
    <h1 class="text-xl font-bold mb-4">勤怠管理画面</h1>
    <p class="text-green-500 mb-4"><%= notice %></p>

    <div class="mb-4 flex flex-row items-center justify-start">
      <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-2 m-2 rounded">
        <%= link_to "勤怠予実取得", scrape_time_cards_path, data: { turbo_method: :post } %>
      </div>
    </div>
    <div id="time_cards">
      <table class="w-full table-auto border-collapse border border-gray-300">
        <thead>
          <tr>
            <th class="border border-gray-300">日付</th>
            <th class="border border-gray-300">勤務予定</th>
            <th class="border border-gray-300">勤務実績</th>
            <th class="border border-gray-300">休憩</th>
            <th class="border border-gray-300">休日</th>
            <th class="border border-gray-300">申請状況</th>
          </tr>
        </thead>
        <tbody>
          <% @time_cards.each do |time_card| %>
            <%= render time_card %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
